<footer>
    <div class="footer-content" id="contato">
        <div class="footer-infos">

            <div class="footer-infos-content">
                <a href="#welcome"><img src="/images/logo.svg" alt=""></a>
                <p>A <span style="color: #F2CB05; font-weight: bold;">4M Burguer</span> fundada em 1988, por João,
                    Pedro, Rafael E Vinicius, quatro amigos que nasceram e
                    vivem em São Paulo, foi criada com o objetivo de revolucionar a culinária do hamburguer
                    artesanal.</p>
                <div class="fundadores-footer">
                    <h1><span>JOÃO</span> ANDRADE</h1>
                    <h1><span>PEDRO</span> FELIX</h1>
                    <h1><span>RAFAEL</span> CARVALHO</h1>
                    <h1><span>VINICIUS</span> RABELO</h1>
                </div>
            </div>

            <div class="footer-contact">
                <h2>Contato</h2>
                <div class="contact-icons">
                    <p>Rua Direita, Vila Ede - SP</p>
                    <p>(11)99988-7766</p>
                    <p>4mburguer@gmail.com</p>
                </div>
            </div>

        </div>
        <div class="copy-rigth">
            <p>Copy right @ 2024. All Rights Reserved</p>
        </div>
    </div>
</footer>