<header>

    <div class="options-header">
        <a href="/"><img src="images/logo.svg" alt=""></a>
        <div class="links-header">
            <a href="#sobre">Sobre</a>
            <a href="#contato">Contato</a>
        </div>
    </div>
    <div class="home-header">
        <a href="/login"><img src="images/account.svg" alt=""></a>
    </div>

</header>