<div class="menu-mobile-adm">
    <a href="/"><img src="/images/logo.svg" alt=""></a>
    <button onclick="menuShowAdm()" ><i style="color: #F2CB05;" class="fa-solid fa-bars"></i></button>
</div>
<div style=" flex-direction: column;" class="menu-mobile-adm-options">
            <div class="menu-option-adm">
                <a href="/cardapio">Todos os Pratos</a>
            </div>
            <div class="menu-option-adm">
                <a href="/cardapio/Hambúrguer">Hambúrguers</a>
            </div>
            <div class="menu-option-adm">
                <a href="/cardapio/Porções">Porções</a>
            </div>
            <div class="menu-option-adm">
                <a href="/cardapio/Bebidas">Bebidas</a>
            </div>

            

            <div class="menu-buttton-sair">
                <form action="/Sair"><button onclick="Sair()" type="submit">Sair</button></form>
            </div>
</div>