<div class="menu-mobile-adm">
    <a href="/"><img src="/images/logo.svg" alt=""></a>
    <button onclick="menuShowAdm()"><i style="color: #F2CB05;" class="fa-solid fa-bars"></i></button>
</div>
<div class="menu-mobile-adm-options">
    <nav>
        <div class="menu-option-adm">
            <a href="/ADM/GerenciarProduto">Todos os Pratos</a>
        </div>
        <div class="menu-option-adm">
            <a href="/ADM/GerenciarProduto/Hambúrguer">Hambúrguers</a>
        </div>
        <div class="menu-option-adm">
            <a href="/ADM/GerenciarProduto/Porções">Porções</a>
        </div>
        <div class="menu-option-adm">
            <a href="/ADM/GerenciarProduto/Bebidas">Bebidas</a>
        </div>

        <div class="menu-option-adm">
            <a href="/ADM/tabelaPedidos">Pedidos</a>
        </div>
        <div class="menu-option-adm">
            <a href="/ADM/adicionarProduto">Adicionar Produto</a>
        </div>

        <div class="menu-buttton-sair">
            <form onsubmit="Sair(event)" action="/Sair"><button type="submit">Sair</button></form>
        </div>
    </nav>
</div>