<main>

    <section class="welcome">

        {{> header}}

        <div class="menu-mobile">
            <a href="/"><img src="images/logo.svg" alt=""></a>
            <button onclick="menuShow()" ><i style="color: #F2CB05;" class="fa-solid fa-bars"></i></button>
        </div>
        <div class="menu-mobile-options">
            <nav>
                <a href="/login">Entrar</a>
                <a href="#sobre">Sobre</a>
                <a href="#contato">Contato</a>
            </nav>
        </div>

        <section class="main-infos-home">

            <div class="infos-home">
                <h1><span style="color: #F2CB57; font-weight: bold;">Viaje pelo Mundo do Sabor:</span> Uma Mordida em
                    Cada <span style="color: #F2CB05; font-weight: bold;">País</span></h1>
                <p>Uma viagem gastronômica global espera por você em nossa hamburgueria temática de países! Venha
                    explorar uma experiência culinária única e memorável conosco!</p>
                <a href="/cardapio">Ver cardápio</a>
            </div>

        </section>
    </section>

    <section class="especiais">
        <h1>CARDÁPIO</h1>
        <p>Nossos pratos especiais</p>
        <div class="especiais-images">

            <div class="especiais-image-content">
                <img src="images/c1.svg" alt="">
            </div>

            <div class="especiais-image-content">
                <img src="images/c2.svg" alt="">
            </div>
            
            <div class="especiais-image-content">
                <img src="images/c3.svg" alt="">
            </div>

        </div>
        <a href="/cardapio">Mais países</a>
    </section>

    <section class="feedback">
        <div class="feedback-tittle">
            <h1 style="color: #F2CB05; font-size:30px;">FEEDBACKS!</h1>
            <p style="color: white; font-size: 20px; font-weight: lighter;">Comentários dos clientes que viajaram nos
                sabores.</p>
        </div>

        <div class="container-coment">
            <div class="container-coment-content">
                <p><span style="font-weight: bold;">Priscila</span></p>
                <p>Uma volta ao mundo em cada mordida! 🌍🍔 Adorei a variedade de sabores e a atmosfera única desta
                    hamburgueria, recomendo muito!</p>
            </div>
            <div class="container-coment-content">
                <p><span style="font-weight: bold;">Rodrigo</span></p>
                <p>Comida deliciosa com um toque internacional! 👌🍔 Recomendo a todos que queiram experimentar algo
                    novo e emocionante.</p>
            </div>
            <div class="container-coment-content">
                <p><span style="font-weight: bold;">Renata</span></p>
                <p>Incrível como conseguem fundir culturas em um hambúrguer! 🤯🍔 Uma experiência única que vale a pena
                    repetir.</p>
            </div>
        </div>

    </section>


    <section class="especiarias">

        <div class="especiarias-tittle">
            <h1 style="color: #F2CB05; font-size:30px;">ESPECIÁRIAS DA CASA</h1>
            <p style="width: 90%; text-align:center">Apresentamos as diversas especiarias que a <span
                    style="color: #F2CB05; font-weight: bold;">4M BURGUER</span>
                oferece,
                trabalhamos com inúmeros tipos de Carne e Pães estrangeiros. </p>
        </div>

        <div class="especiarias-card">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-frony">
                        <img src="images/e4.svg" class="flip-card-image" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="images/e4b.svg" class="flip-card-image" alt="">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-frony">
                        <img src="images/e2.svg" class="flip-card-image" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="images/e2b.svg" class="flip-card-image" alt="">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-frony">
                        <img src="images/e3.svg" class="flip-card-image" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="images/e3b.svg" class="flip-card-image" alt="">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-frony">
                        <img src="images/e1.svg" class="flip-card-image" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="images/e1b.svg" class="flip-card-image" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="especiarias-card">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-frony">
                        <img src="images/e5.svg" class="flip-card-image" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="images/e5b.svg" class="flip-card-image" alt="">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-frony">
                        <img src="images/e6.svg" class="flip-card-image" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="images/e6b.svg" class="flip-card-image" alt="">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-frony">
                        <img src="images/e8.svg" class="flip-card-image" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="images/e8b.svg" class="flip-card-image" alt="">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-frony">
                        <img src="images/e7.svg" class="flip-card-image" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="images/e7b.svg" class="flip-card-image" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="michelin" id="sobre">
        <div class="michelin-infos">
            <div class="michelin-tittle">
                <h2>4M BURGUER</h2>
                <h1>ESTRELA MICHELIN</h1>
            </div>
            <p>
                A <span style="color:#F2CB05; font-weight: bold;">4M Burguer</span> foi fundada em 1988 por João, Pedro,
                Rafael E Vinicius (quatro amigos que nasceram e vivem em
                São Paulo), foi criada com o objetivo de revolucionar a culinária do hambúrguer artesanal. Em 2014, a
                Hamburgueria foi premiada com um dos melhores premios da culinária mundial, o guia MICHELIN, resultando
                em 2 estrelas para o grandioso restaurante. Atualmente, há 35 unidades em todo o Brasil, com planos de
                expansão para o exterior.
            </p>
        </div>

    </section>

    <section class="fundadores">
        <div class="fundadores-tittle">
            <h2>FUNDADORES</h2>
        </div>
        <div class="fundadores-info">
            <h1><span>JOÃO</span> ANDRADE</h1>
            <h1><span>PEDRO</span> FELIX</h1>
            <h1><span>RAFAEL</span> CARVALHO</h1>
            <h1><span>VINICIUS</span> RABELO</h1>
        </div>
    </section>

    {{> footer}}

</main>

<script>
    function menuShow() {
        let menuMobile = document.querySelector('.menu-mobile-options');
        if (menuMobile.classList.contains('open')) {
            menuMobile.classList.remove('open');
        } else {
            menuMobile.classList.add('open');
        }
    }
</script>