<section class="login">

    <div class="content-login">

        <div class="login-tittle">
            <a href="/"><img src="/images/logo.svg" alt=""></a>
            <h2>LOGIN</h2>

        </div>

        <div class="container-login">

            <div class="container-login-infos">


                <div class="inputs-account">
                    <form action="/login/validacao" onsubmit="Login(event)" method="post" class="form-login">
                        <div class="input-login">
                            <label for="Email">Email:</label>
                            <div class="input-type">
                                <input id="Email" name="Email" type="text" required>
                            </div>
                        </div>

                        <div class="input-login">
                            <label for="Senha">Senha:</label>
                            <div class="input-type">
                                <input type="password" id="Senha" name="Senha" required>
                            </div>
                        </div>

                        <div class="submit-login">
                            <button type="submit">Entrar</button>
                            <a href="/cadastro">Não tem uma conta?<span style="color: #F2CB05;"> CADASTRE-SE</span></a>
                        </div>
                    </form>


                </div>

            </div>

        </div>
    </div>

</section>